<ion-header>
  <ion-toolbar>
    <div>
      <ion-icon
        name="arrow-back"
        *ngIf="backButtonVisible"
        (click)="backButtonHandler()"
      ></ion-icon>
      <span>{{ title }}</span>
    </div>
    <ion-chip
      *ngIf="getProfile()"
      (click)="presentAlert()"
      color="light"
      slot="end"
    >
      <ion-label>{{ getProfile().name }}</ion-label>
      <ion-avatar>
        <img [src]="getProfile().picture" />
      </ion-avatar>
    </ion-chip>
  </ion-toolbar>
</ion-header>
