.div-container {
  height: 100%;
  overflow: auto;
  display: block;
  text-align: center;
  p {
    display: flex;
    border: 2px solid blue;
    align-items: center;
    font-family: sans-serif;
    justify-content: center; // margin: auto;
    ion-icon {
      font-size: 64px;
      color: var(--ion-color-tertiary);
    }
    ion-button {
      --border-radius: 40px;
      --border: 2px solid var(--ion-color-secondary);
      --background: var(--ion-color-light);
    }
  }
}
