<app-header title="Scanner" [homeButtonVisible]="true"></app-header>

<ion-content padding>
  <div class="div-container">
    <p>
      <ion-img src="assets/icon/iconAndName.png"></ion-img>
    </p>
    <p>
      <ion-icon name="barcode" (click)="scan()"></ion-icon>
      <ion-button expand="block" (click)="scan()">
        Scannerizza
      </ion-button>
    </p>
    <p>
      <ion-icon name="list" (click)="scan()"></ion-icon>
      <ion-button expand="block" (click)="goToExample()">
        Vai all'esempio
      </ion-button>
    </p>
  </div>
</ion-content>
