<app-header title="" [showProfile]="false"></app-header>

<ion-content padding>
  <div class="div-container">
    <p>
      <ion-img src="assets/icon/iconAndName.png"></ion-img>
    </p>
    <p>
      WELCOME
    </p>
    <p>
      <ion-button expand="block" (click)="login()">
        LOGIN
      </ion-button>
    </p>
  </div>
</ion-content>

<!-- <ion-button
    expand="full"
    size="large"
    shape="round"
    (click)="fingerprintLogin()"
  >
    Fingerprint Login
  </ion-button>
</ion-content> -->
