<app-header
  [title]="title"
  [backButtonVisible]="true"
  (backButtonClick)="goBack()"
>
</app-header>

<ion-content padding [hidden]="isHidden()">
  <ion-fab vertical="top" horizontal="end">
    <ion-fab-button color="primary">
      <ion-icon name="share" (click)="share()"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <app-info-card [title]="'Informazioni'">
    <ion-item *ngFor="let element of infoEntries">
      <ion-label>
        <span class="info-name">{{ element[0] }}</span
        >:
        <span class="info-value">{{ element[1] }}</span>
      </ion-label>
    </ion-item>
  </app-info-card>

  <app-info-card [title]="'Composizione'">
    <canvas #doughnutCanvas></canvas>
  </app-info-card>

  <app-info-card [title]="'Dosaggio età'">
    <canvas #barCanvas></canvas>
  </app-info-card>

  <app-info-card [title]="'Dosaggio Peso'">
    <canvas #lineCanvas></canvas>
  </app-info-card>
</ion-content>
